:root {
    --primary-font-family: 'Roboto', sans-serif;
    --secondary-font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul, ol {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

main {
    flex-grow: 1;
}

.section-container {
    padding: 120px 0;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu {
    border-bottom: 1px solid #e7e9fc;
}

.menu-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-navigation-list {
    display: flex;
    gap: 40px;
}

.address-container {
    display: flex;
    gap: 40px;
    align-items: center;
}



.container {
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.logo-part {
    color: #2e2f42;
font-family: var(--secondary-font-family);
font-size: 18px;
font-weight: 700;
line-height: 1.16; /* 116.667% */
letter-spacing: 0.54px;
text-transform: uppercase;
}

.menu-navigation-item:focus,
.menu-navigation-item:hover {
    color: #404BBF;
}

.menu-navigation-item {
    display: block;
    color: #2E2F42;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
text-decoration: none;
padding: 24px 0;
}

.address {
    font-style: normal;
}

.menu-contacts {
    color: #434455;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}

.menu-contacts:focus,
.menu-contacts:hover {
    color: #404BBF;
}

body {
    background: #FFF;
    color: #434455;
    font-family: var(--primary-font-family);
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.hero-section {
    background: #2E2F42;
    height: 600px;
    padding-top: 188px;
    padding-bottom: 188px;
}

.hero-title {
    max-width: 496px;
    margin: 0 auto 48px;
    color: #FFF;
    text-align: center;
font-size: 56px;
font-weight: 700;
line-height: 1.07; /* 107.143% */
letter-spacing: 0.02em;
}

.hero-button {
    display: block;
    margin: 0 auto;
    border: none;
    padding: 16px 32px;
    border-radius: 4px;
    min-width: 169px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    background: #4D5AE5;
    color: #FFF;
/* Button Text */
font-family: inherit;
font-size: 16px;
font-weight: 500;
line-height: 1.5; /* 150% */
letter-spacing: 0.04em;
}

.hero-button:focus,
.hero-button:hover {
    background: #404BBF;
}

button {
    cursor: pointer;
}

.top-logo {
    margin-right: 76px;
}

.logo {
    color: #4d5ae5;
font-family: var(--secondary-font-family);
font-size: 18px;
font-weight: 700;
line-height: 1.17; /* 116.667% */
letter-spacing: 0.03em;
text-transform: uppercase;
}

.team {
    background: #F4F4FD;
}

.team-title {
    color: #2e2f42;
text-align: center;

/* Header 2 */
font-size: 36px;
line-height: 1.11; /* 111.111% */
letter-spacing: 0.02em;
text-transform: capitalize;
margin-bottom: 72px;
}

.team-list {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.team-list-item {
    border-radius: 0px 0px 4px 4px;
    background: #FFF;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.card-container {
    padding: 32px 0;
}

.team-card {
color: #2e2f42;
text-align: center;
margin-bottom: 8px;

/* Header 3 */
font-size: 20px;
font-weight: 500;
line-height: 1.2; /* 120% */
letter-spacing: 0.02em;
}

.team-card-desc {
    color: #434455;
text-align: center;

/* Body */
font-size: 16px;
line-height: 1.5; /* 150% */
letter-spacing: 0.02em;
}

.portfolio-title {
    color: #2E2F42;
text-align: center;
margin-bottom: 72px;

/* Header 2 */
font-size: 36px;
line-height: 1.11; /* 111.111% */
letter-spacing: 0.02em;
text-transform: capitalize;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}

.portfolio-card-container {
    border: 1px solid #E7E9FC;
    padding: 32px 16px;
    border-top: none;
}

.portfolio-subtitle {
    color: #2E2F42;
    margin-bottom: 8px;

/* Header 3 */
font-weight: 500;;
font-size: 20px;
line-height: 1.2; /* 120% */
letter-spacing: 0.02em;
}

.portfolio-desc {
    color: #434455;

/* Body */
font-size: 16px;
line-height: 1.5; /* 150% */
letter-spacing: 0.02em;
}

.footer {
    background: #2E2F42;
    padding-top: 100px;
    padding-bottom: 100px;
}

.bottom-logo {
    display: inline-block;
    margin-bottom: 16px;
}

.footer-logo {
    color: #f4f4fd;
}

.footer-text {
    color: #F4F4FD;
        /* Body */
        font-size: 16px;
        line-height: 1.5;
        /* 150% */
        letter-spacing: 0.02em;
        width: 264px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.benefits {
    color: #2e2f42;
font-size: 20px;
font-weight: 500;
line-height: 1.2; /* 120% */
letter-spacing: 0.02em;
}

.benefits-title {
    color: #2E2F42;
    margin-bottom: 8px;

/* Header 3 */
font-size: 20px;
font-weight: 500;
line-height: 1.2; /* 120% */
letter-spacing: 0.02em;
}

.benefits-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.benefits-list {
    display: flex;
    gap: 24px;
}

.benefits-list-item {
    width: calc((100% - 72px) / 4);
}